<%= form_for(@compensation_rate) do |f| %>
  <% if @compensation_rate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@compensation_rate.errors.count, "error") %> prohibited this compensation_rate from being saved:</h2>

      <ul>
      <% @compensation_rate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
