<%= form_for(@detour) do |f| %>
  <% if @detour.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@detour.errors.count, "error") %> prohibited this detour from being saved:</h2>

      <ul>
      <% @detour.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
