<p id="notice"><%= notice %></p>

<h1>Hündürlük Dərəcələri</h1>

<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>Təsnif</th>
    </tr>
  </thead>

  <tbody>
    <% @classifications.each do |classification| %>
      <tr>
        <td><%= classification.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

