<div class="panel panel-default">
  <div class="panel-heading">Mənim tərtib etdiklərim</div>
  <table class="table">
    <% @verbatims.each do |verbatim| %>
      <tr>
        <td>
          <%= link_to verbatim, load_report_url(verbatim) %>
        </td>
      </tr>
    <% end %>
  </table>
</div>