<table class="table table-condensed table-bordered">
 <tr>
    <th rowspan="3">Ağac</th>
    <th rowspan="3"> Diametr</th>
    <th colspan="4">Texniki yararlılığına görə sayı, həcmlə</th>
    <th colspan="8">HƏCMİ , m<sup>3</sup></th>
  </tr>
  <tr>
    <th rowspan="2">İşlik</th>    
    <th rowspan="2">Yarım işlik</th>
    <th rowspan="2">Odunluq</th>
    <th rowspan="2">Cəmi</th>
    <th colspan="4">İşlik</th>
    <th rowspan="2">Odun</th>
    <th rowspan="2">Şax, çırpı</th>
    <th rowspan="2">Çətirdən odun</th>
    <th rowspan="2">Cəmi</th>
  </tr>
  <tr>
    <th>İri</th>
    <th>Orta</th>
    <th>Xırda</th>
    <th>Cəmi</th>     
  </tr>
  <tr>
  <th></th>
  <td>sa</td>
    <td>as</td>
    <td>as</td>
    <td>sa</td>
    <td>sa</td>
    <td>sa</td>
    <td>sa</td>
    <td>sa</td>
    <td>sa</td>
    <td>sa</td>
    <td>as</td>
    <td>sa</td>
    <td>sa</td>
  </tr>
</table>