<p id="notice"><%= notice %></p>

<h1>Rayonlar</h1>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Rayon</th>
      <th>Qeyd</th>
    </tr>
  </thead>

  <tbody>
    <% @regions.each do |region| %>
      <tr>
        <td><%= region.name %></td>
        <td><%= region.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

