@import "bootstrap-sprockets";
@import "bootswatch/flatly/variables";
@import "bootstrap";
@import "bootswatch/flatly/bootswatch";
@import "font-awesome";
body { 
  padding-top: 60px !important;
  margin-top: 40px !important;
}
